<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprobación de Reserva</title>
    <link rel="stylesheet" href="style.css"> <!-- Vinculación del archivo CSS -->
</head>

<body>
    <div class="container">
        <div class="header">
            <h2>Aprobación de Reserva</h2>
        </div>
        <div class="content">
            <p>Estimado/a [Nombre_Prof],</p>
            <p>Se ha realizado una solicitud de reserva para tratar temas vinculados con [Materia], presentada por [Nombre]. Siguiendo nuestro procedimiento estándar, requerimos de su aprobación para el uso del espacio con propósitos académicos. </p>
            <p>Por favor, tómese un momento para revisar los detalles de la reserva y, si lo considera apropiado, otorgue su aprobación.</p>
            <p><strong>Detalles de la Reserva:</strong></p>
            <ul>
                <li><strong>Materia:</strong> [Materia]</li>
                <li><strong>Fecha:</strong> [Fecha]</li>
                <li><strong>Hora de Inicio:</strong> [HoraInicio]</li>
                <li><strong>Hora de Fin:</strong> [HoraFin]</li>
                <li><strong>Lugar:</strong> [Lugar]</li>
            </ul>
            <div class="button-container"> <!-- Contenedor del botón -->
                <a href="[EnlaceAprobacion]" class="button">Aprobar Reserva</a>
                <a href="[EnlaceRechazo]" class="button rechazo">Rechazar Reserva</a>
            </div>
        </div>
        <div class="footer">
            <p class="university-text">Universidad Tecnológica de Bolívar</p> <!-- Agregado el texto de la universidad -->
            <img src="utb-logotipo.png" alt="Logo UTB"> <!-- Agregada la imagen de la universidad -->
        </div>
    </div>
</body>

</html>
